<div class="container">
    <div align="right">
      <button class="btn btn-primary" routerLink="/addproducts">+Add Products</button>
    </div><br>
<div class="row">
  <div class="col-md-3" *ngFor="let product of products">
      <div class="thumbnail">
          <div align="right">
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)">X</button> 
              <button class="btn btn-success btn-sm" [routerLink]="['/update', product.id]">Update</button>   
            </div>
      <img src="{{product.image}}" class="img-responsive" alt="..." height="200" width="200">
      
      <div class="caption">
        <h3>{{product.name}}</h3>
        <p>{{product.brand}}</p>
       <button class="btn btn-warning btn-block">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
</div>

