/* You can add global styles to this file, and also import other style files */
html,
body {
/*css for full size background image*/
  background: url(http://file06.16sucai.com/2016/0502/0713e025fa05109ae1d42609b70136f9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}