
                <div class="site-wrapper-inner">
                  <div class="cover-container">
                    <div class="masthead clearfix">
                      <div class="inner">
                        
                      </div>
                    </div>
              
                    <div class="inner cover">
                      <h1 class="cover-heading">Angular 5 full CRUD operations</h1>
              
                      <p class="lead">HTML5, CSS3, Bootstrap, Angular5 for Frontend.
                              fake api json-server running on back-end Server as a realtime
                              server and database using RESTAPI
                          
                      <small>    <br> GET PUT POST DELETE</small>
                          
                      </p>
              
                      <p class="lead"><a class="btn btn-lg btn-info" href="#">Learn
                      more</a></p>
                    </div>
              
                    <div class="mastfoot">
                      <div class="inner">
                        <!-- Validation -->
              
                       
              
                        <p>https://github.com/nameissanthu <a href=
                        "https://github.com/nameissanthu">GitHub</a></p>
                      </div>
                    </div>
                 